{% extends "base.html" %}
{% load jformat %}
{% block title %}{{Site}} اوپوزکس{% endblock title %}
{% block main %}
<main role="main" class="container" style="direction: ltr;">
  <div class="row">
    <div class="col-md-9 blog-main">
      
      {% for all in page_obj %}
      <div class="blog-post" style="margin-bottom:30px;direction:rtl">

       <div class="list-group text-right">

        <a href="{{all.slug}}" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="font-weight: bold;">{{all.title}}</h5>
            <small>{{all.date|jformat:"%A %d %B %Y " }}</small>
          </div>
          <p class="mb-1">{{all.caption|truncatechars:290}}</p>
          <small>نویسنده: {{all.author.get_full_name}}</small>
        </a>
     
      </div>
      </div><!-- /.blog-post -->
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <nav class="blog-pagination">
              <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">جدید تر</a>
              
            </nav>
                {% comment %} <a href="?page={{ page_obj.previous_page_number }}">previous</a> {% endcomment %}
            {% endif %}
    
            <span class="current">
                صفحه ی {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
            <nav class="blog-pagination">

                {% comment %} <a href="?page={{ page_obj.next_page_number }}">next</a> {% endcomment %}
                <a class="btn btn-outline-secondary " href="?page={{ page_obj.next_page_number }}">قدیمی تر</a>
                {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
            </nav>

            {% endif %}
        </span>
    </div>
   

    </div>
    <!-- /.blog-main -->

    <aside class="col-md-3 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic text-right">درباره ما</h4>
        <p class="mb-0 text-right">{{Site.about}}.</p>
      </div>

      <!-- <div class="p-4">
        <h4 class="font-italic">داغ ترین ها</h4>
        <ol class="list-unstyled mb-0">
          {% for po in postss %}
          <li><a href="{{po.slug}}">{{po.title}}</a></li>
          <hr>
          {% endfor %}
            
        </ol>
      </div> -->

      <div class="p-4">
        <h4 class="font-italic">ما دیگر جاها</h4>
        <ol class="list-unstyled">
{% for soc in social %}
          <li><a href="{{soc.link}}">{{soc.name}}</a></li>
          {% endfor %}
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->
    <!-- <h4 class="text-right">پربازدید ها:</h4> -->
    <hr>
    <br>
  
   
      
    </div>
  </div><!-- /.row -->
  
  <div class="container">
    <h4 class="text-right">: پست های پیشنهادی </h4>

    {% include "recommand.html" %}
    <br>
    </div>
    
</main><!-- /.container -->
{% endblock main %}